/* styles.css */
.App {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
 footer {
    text-align: center;
    margin-bottom: 20px;
    color: grey;
  }

  .tool {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input, .input-group select {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
  
  button {
    /*padding: 8px 15px;
    cursor: pointer;*/
    /*mobile friendly changes:*/
    padding: 10px 20px; /* Enough padding for touch */
    font-size: 1rem; 
  }
  
  .result {
    background: #e0ffe0;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #b2d8b2;
    border-radius: 3px;
  }
  
  .chart-container {
    position: relative;
    height: 200px;
    width: 100%;
  }
